PARTICIPANT=edc
# PARTICIPANT is normalized to lowercase and used for names/DID.
BASE_URL=examplesub.exampledomain.com
# Optional. Default is 80
NGINX_HTTP_HOST_PORT=
# Optional. Default is 443
NGINX_HTTPS_HOST_PORT=
TRUSTED_ISSUER_DID=did:web:cloud.datosindaga.com:issuer
# Optional image overrides
#POSTGRES_IMAGE=postgres:16
#IDENTITY_HUB_IMAGE=registry.itg.es/flythings-stack/flythings-dataspace/api-flythings-dataspace/identity-hub:latest
#CONTROLPLANE_IMAGE=registry.itg.es/flythings-stack/flythings-dataspace/api-flythings-dataspace/controlplane:latest
#DATAPLANE_IMAGE=registry.itg.es/flythings-stack/flythings-dataspace/api-flythings-dataspace/dataplane:latest
#NGINX_IMAGE=nginx:1.29
#VAULT_IMAGE=hashicorp/vault:1.20
